@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* :root {
  --gradient-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --gradient-button: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  --gradient-card: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
} */

body {
  background: var(--gradient-bg);
  min-height: 100vh;
}

.page-gradient {
  background: var(--gradient-bg);
}

.btn-gradient {
  background: var(--gradient-button);
  color: white;
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-gradient {
  background: var(--gradient-card);
  transition: all 0.3s ease;
}

.card-gradient:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}


a.active {
  @apply relative text-yellow-600 font-semibold transition-all duration-300;
}


